<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Paper Add</title>
    <link href="#" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet"/>
    <link href="#" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet"/>

</head>

<body>
<!--引入抽取的topbar-->
<!--模板名：会使用thymeleaf的前后缀配置规则进行解析-->
<div th:replace="include/bar::topbar"></div>

<div class="container-fluid">
    <div class="row">
        <!--引入侧边栏-->
        <div th:replace="include/bar::sidebar(activeUri='papers')"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h2>请在此填写试卷信息</h2>
            <br/>
            <!--需要区分是修改还是添加；-->
            <form th:action="@{/paper}" method="post">
                <!--发送put请求修改数据-->
                <!--
                解决有的浏览器不支持put和delete请求的方法：
                1、SpringMVC中配置HiddenHttpMethodFilter;（SpringBoot自动配置好的）
                2、页面创建一个post表单
                3、创建一个input项，name="_method";值就是我们指定的请求方式
                -->
                <!--<input type="hidden" name="_method" value="put" th:if="${paper!=null}"/>-->
                <!--<input type="hidden" name="id" th:if="${paper!=null}" th:value="${paper.id}"/>-->
                <h5>试卷基本信息</h5>
                <div class="form-inline col-md-12 col-xs-12 p10">
                    <div class="form-horizontal col-xs-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-xs-3 p0">试卷编号&nbsp;</label>
                            <div class="col-xs-6">
                                <input name="paperCode" type="text" class="form-control" readonly="readonly"
                                       placeholder="" th:value="${pcode}"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal col-xs-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-xs-3 p0">试卷名称&nbsp;</label>
                            <div class="col-xs-6">
                                <input name="paperName" type="text" class="form-control" placeholder="请输入试卷名称"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal col-xs-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-xs-3 p0">试卷科目&nbsp;</label>
                            <div class="col-xs-6">
                                <input name="paperMajor" type="text" class="form-control" placeholder="请输入试卷科目"/>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-inline col-md-12 col-xs-12 p10">
                    <div class="form-horizontal col-xs-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-xs-3 p0">出题人名&nbsp;</label>
                            <div class="col-xs-6">
                                <input name="paperDesigner" type="text" class="form-control" placeholder="请输入出题人姓名"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal col-xs-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-xs-3 p0">考试时间&nbsp;</label>
                            <div class="col-xs-6">
                                <input name="paperTesttime" type="text" class="form-control" placeholder="请输入考试时间"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal col-xs-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-xs-3 p0">所属单位&nbsp;</label>
                            <div class="col-xs-6">
                                <input name="paperAffiliate" type="text" class="form-control" placeholder="请输入所属单位"/>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <h5>试卷题目信息&nbsp;&nbsp;&nbsp;<span class="control-label col-xs-3 p0">
                        <a id="addItem" href="javascript:void(0);" style="font-size:15px;">添加条目</a></span></h5>
                <div class="form-inline col-md-12 col-xs-12 p10">
                    <div class="form-horizontal col-xs-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-xs-3 p0">题目类型&nbsp;</label>
                            <div class="col-xs-6">
                                <!-- 提交的是试卷类型的id -->
                                <select class="form-control" name="part1Type">
                                    <option selected="selected" value="0">-----请选择类型------</option>
                                    <option th:value="${pt.typeId}" th:each="pt:${ptypes}" th:text="${pt.typeName}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal col-xs-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-xs-3 p0">试题数目&nbsp;</label>
                            <div class="col-xs-6">
                                <input name="part1Qty" type="text" class="form-control" placeholder="请输入试题数目"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal col-xs-4 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-xs-3 p0">每题分值&nbsp;</label>
                            <div class="col-xs-6">
                                <input name="part1Mark" type="text" class="form-control" placeholder="请输入试题得分"/>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div id="moreItem"></div>
                <br/>
                <div class="col-md-12 col-xs-12 p10" align="center">
                    <button type="submit" class="btn btn-primary">添加</button>
                </div>
            </form>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="#" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript" src="#" th:src="@{/webjars/popper.js/1.11.1/dist/umd/popper.js}"></script>
<script type="text/javascript" src="#" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>
<script type="text/javascript">
    $(function () {
        var clickNum = 1;

        $("#addItem").click(function () {
            clickNum++;
            console.log(clickNum);
            /*<![CDATA[*/
            if (clickNum <= 8) {
                addItemPart(clickNum);
            } else {
                return false;
            }
            /*]]>*/
        });

        function addItemPart(cn) {
            $("#moreItem").append('<div class="form-inline col-md-12 col-xs-12 p10">' +
                '<div class="form-horizontal col-xs-4 col-lg-4">' +
                '<div class="form-group">' +
                '<label class="control-label col-xs-3 p0">题目类型&nbsp;</label>' +
                '<div class="col-xs-6">' +
                '<select class="form-control" name="part' + cn +'Type">' +
                '<option selected="selected" value="0">-----请选择类型-----</option>' +
                '<option th:value="${pt.typeId}" th:each="pt:${ptypes}" th:text="${pt.typeName}"></option></select></div></div></div>' +
                '<div class="form-horizontal col-xs-4 col-lg-4">' +
                '<div class="form-group">' +
                '<label class="control-label col-xs-3 p0">试题数目&nbsp;</label>' +
                '<div class="col-xs-6">' +
                '<input name="part' + cn + 'Qty" type="text" class="form-control" placeholder="请输入试题数目"/></div></div></div>' +
                '<div class="form-horizontal col-xs-4 col-lg-4">' +
                '<div class="form-group">' +
                '<label class="control-label col-xs-3 p0">每题分值&nbsp;</label>' +
                '<div class="col-xs-6">' +
                '<input name="part' + cn + 'Mark" type="text" class="form-control" placeholder="请输入试题得分"/></div></div></div></div><br/>');
        }
    });
</script>
<!-- Icons -->
<script type="text/javascript" src="#" th:src="@{/asserts/js/feather.min.js}"></script>
<script>
    feather.replace()
</script>

</body>

</html>